@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
}

/* Styling Pág 1 */

/* Left side */

*:focus {
    outline: none;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.left {
    width: 53%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.left header {
    width: 100%;
    height: 12vh;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 90px;
    border-bottom: 2px solid #ebeaf0;
}

.left header p {
    font-size: 28px;
    font-weight: 800;
    color: rgb(38, 30, 97);
}

.logo {
    font-size: 28px;
    color: #6a6cec;
}

.content {
    width: 100%;
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.text-area {
    width: 42%;
    height: 24vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 115px;
    gap: 10px;
    padding-bottom: 10px;
}

.text-area h1 {
    color: #131b33;
    font-size: 45px;
    animation-duration: 1s;
}

.text-area h4 {
    color: #aeb0b4;
    font-size: 20px;
    font-weight: 600;
    animation-duration: 2s;
}

.form {
    height: 23vh;
    gap: 15px;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    justify-content: flex-start; 
    align-items: center;
}

.form p {
    font-weight: bold;
    color: #535864;
} 

.form input {
    width: 430px;
    height: 53px;
    border-radius: 10px;
    border: 2px solid #e8e7ee;
    background-color: #f8f7fe;
    padding-left: 13px;
    font-size: 18px;
    color: #535864;
}

.form input::placeholder {
    font-weight: 600;
    color: rgb(169, 169, 179);
    font-size: 16px;
}

.email-container {
    position: relative;
}

.email-container p {
    padding-bottom: 10px;
}

.password-container {
    position: relative;
}

.password-container p {
    padding-bottom: 10px;
}

.link-area {
    width: 50%;
    height: 20px;
    display: flex;
    justify-content: center;   
}

.link-area a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #8165e4;   
    transition: color 0.5s;
    transition: transform 0.3s; 
    animation-delay: 2s;
    animation-duration: 1s;
}

.link-area a:hover {
    color: #4f50a5;
    transform: scale(1.2);
}

.fa-eye {
    color: rgb(169, 169, 179);
    margin-left: -43px;
    cursor: pointer;
    font-size: 22px; 
    position: absolute;
    top: 54%;
    right: 7%;
}

.btn-area {
    width: 100%;
    height: 41vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-right: 100px;
    padding-top: 10px;
}

.btn-area button {
    width: 430px;
    height: 53px;
    border-radius: 10px;
    padding-left: 13px;
    font-size: 20px;
    cursor: pointer;
}

.btn-area .login {
    background-color: #6a6cec;
    color: white;
    border: 2px solid #5759c9;
    position: relative;
    z-index: 1;
}

.btn-area .login::before {
    content: '';
    position: absolute;
    background-color: #5759c9;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    z-index: -1;
    transition: all 1s ease;
}

.btn-area .login:hover::before {
    width: 100%;
}

.btn-area .google {
    border: 2px solid #e8e7ee;
    background-color: #ffffff;
    font-weight: 600;
    position: relative;
    z-index: 1;
}

.btn-area .google::before {
    content: '';
    position: absolute;
    background-color: #eeeded;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    z-index: -1;
    transition: all 1s ease;
}

.btn-area .google:hover::before {
    width: 100%;
}

.fa-google {
    font-size: 23px;
}

.btn-area p {
    color: rgb(127, 127, 133);
    padding-top: 15px;
}

.btn-area p a {
    color: black;
    font-weight: 700;
}

/* Right side */

.right {
    width: 47%;
    height: 100vh;
    background-color: #eeedfa;
    -webkit-box-shadow: -10px 0px 16px -7px rgba(10,16,82,0.3);
    -moz-box-shadow: -10px 0px 16px -7px rgba(10,16,82,0.3);
    box-shadow: -10px 0px 16px -7px rgba(10,16,82,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width:60%;
    height: 600px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #e8e7ee;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 27px -1px rgba(10,16,82,0.3);
    -moz-box-shadow: 0px 0px 27px -1px rgba(10,16,82,0.3);
    box-shadow: 0px 0px 27px -1px rgba(10,16,82,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 55px;
    margin-right: 55px;
}

.img-area {
    width: 100%;
    height: 260px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.img-area .popular {
    position: absolute;
    width: 110px;
    background-color: #5f61d4;
    color: white;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    padding: 10px;
    left: -11px;
    top: 239px;
    display: block;
    border-radius: 10px 10px 10px 0;
    -webkit-box-shadow: -1px 4px 15px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: -1px 4px 15px 3px rgba(0,0,0,0.4);
    box-shadow: -1px 4px 15px 3px rgba(0,0,0,0.4);
}

.popular i {
    font-size: 12px;
    padding-right: 3px;
}

.img-area .img {
    width: 88%;
    height: 88%;
    border-radius: 10px;
    background: url(img/house.jpg) center center no-repeat;
    background-size: cover;
    border: 1px solid #e8e7ee;
}

.description-area {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-around;  
    align-items: center;
}

.description {
    gap: 10px;
    padding-right: 85px;
}

.description h1 {
    font-size: 24px;
    color: #131b33;
}

.description h2 {
    font-size: 19px;
    color: rgb(155, 155, 165);
    font-weight: 600;
    padding-top: 8px;
}

.favorite {
    display: flex;
    justify-content: flex-start;
}

.favorite button {
    border: 2px solid #e8e7ee;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    color: #6668e7;
    cursor: pointer;
    transition: 0.5s ease;
}

.favorite button:hover {
    color: rgb(255, 0, 0);
    transform: scale(1.2);
}

.favorite button i {
    font-size: 20px;
}

.icons-area {
    width: 89%;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 17px;
    padding-bottom: 10px;
    padding-left: 10px;
    gap: 20px;
    border-top: 2px solid #ebeaf0;
}

.icons-area p {
    color: rgb(145, 145, 155);
}

.purple-icon {
    color: #6a6cec;
}

.bottom-area {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-area .content2 {
    width: 88%;
    height: 130px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 27px;
    background-color: #eeedfa;
    border-radius: 10px;
    border: 2px solid #e8e7ee;
}

.bottom-area .content2 .price {
    width: 48%;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 18px;
    padding-left: 15px;
}

.price h1 {
    color: #131b33;
    font-size: 18px;
    font-weight: 800;
}

.price .rent {
    display: flex;
    gap: 3px;
    justify-content: center;
}

.rent h2 {
    color: #5f61d4;
    font-size: 28px;
}

.rent p {
    color: rgb(145, 145, 155);
    margin-top: 9px;
}

.bottom-area .content2 .btn-area2 {
    width: 52%;
    height: 130px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
}

.bottom-area .content2 button {
    width: 215px;
    height: 55px;
    border-radius: 10px;
    background-color: #0a1052;
    color: white;
    font-size: 17px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border: 1px solid #5f61d4;
}

.content2 button::before {
    content: '';
    position: absolute;
    background-color: #5f61d4;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 7px;
    transition: all 1s ease;
    z-index: -1;
}

.content2 button:hover::before {
    width: 100%;
}



